@font-face {
  font-family: "Lato-Regular";
  src: url('./Lato/webfonts/Lato-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Lato-Regular";
  font-weight: 100;
  text-decoration: none;
  color: inherit;
  outline: none;
}

body {
  width: 100%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

input, textarea {
  user-select: initial;
}